aside{
    position: sticky;
    top: 0px;
    height: 100vh;
    background-color: #333;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
h2{
    padding: 0.5rem 0px 1rem 1rem;
    margin: 0px;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}
li:hover{
    background-color: rgba(255, 255, 255, 0.171);
}
.active{
    background-color: rgba(255, 255, 255, 0.100);
}
a{
    display: block;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
}