/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1.6px;
}
hr{
    background-color: rgba(255, 255, 255, 0.10);
    border: 0.2px solid rgba(255, 255, 255, 0.10);
}